.page-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.comment p {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}